@let currentCard = card();

@if (currentCard) {
  <div class="Card" cdkDrag (cdkDragStarted)="onDragStart()">
    <div style="display: flex; justify-content: flex-end">
      <button style="border-radius: 6px" (click)="onDelete()">x</button>
    </div>
    <div style="display: flex; flex-direction: column; gap: 2px">
      <span><span style="text-decoration: underline"><b>title</b></span> : <b>{{ currentCard.title }}</b></span>
      <span><span style="text-decoration: underline"><b>description</b></span> : {{ currentCard.description }}</span>
      <span><span style="text-decoration: underline"><b>priority</b></span> : {{ currentCard.priority }}</span>
    </div>
    <div class="DragHandleWrapper">
      <div class="DragHandle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
          ></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
    </div>
  </div>
}
