<div class="Card">

  <div style="display: flex; justify-content: flex-end">
    <button style="border-radius: 6px" (click)="onDelete()">x</button>
  </div>
  <div style="display: flex; flex-direction: column; gap: 2px">
    <span><span style="text-decoration: underline"><b>title</b></span> : {{ card()?.title }}</span>
    <span><span style="text-decoration: underline"><b>description</b></span> : {{ card()?.description }}</span>
  </div>
  <div style="display: flex; justify-content: center">
    <button (click)="onMoveLeft()"><<</button>
    <button (click)="onMoveRight()">>></button>
  </div>
</div>
