form {
  max-width: 825px;
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 12px;
}

.WrapperFields {
  display: flex;
  flex-direction: column;
}

.TitleAndValue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SubmitButton {

}

.InputClassique {
  margin-left: 24px;
  width: 100%;
  padding: 12px 16px;
  font-size: 15px;
  border: 2px solid #d0d0d0;
  border-radius: 8px;
  outline: none;
}
