<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="WrapperFields">
    <div class="field">
      <div class="TitleAndValue">
        <label for="title">Titre</label>
        <input class="InputClassique" id="title" formControlName="title" placeholder="Pouet ..." />
      </div>
      @if (form.title?.touched && form.title?.invalid) {
        <div style="color: red;">
          Le titre est requis.
        </div>
      }
    </div>

    <div class="field">
      <div class="TitleAndValue">
        <label for="description">Description</label>
        <textarea type="text" class="InputClassique" id="description" formControlName="description"
                  placeholder="Pouet ..."></textarea>
      </div>
      @if (form.description?.touched && form.description?.invalid) {
        <div style="color: red;">
          La description est requis.
        </div>
      }
    </div>

    <div class="field">
      <div class="TitleAndValue">
        <label for="priority">Priority</label>
        <input class="InputClassique" id="priority" type="number" formControlName="priority" placeholder=1 />
      </div>
      @if (form.priority?.touched && form.priority?.invalid) {
        <div style="color: red;">
          La priority est requis.
        </div>
      }
    </div>
  </div>

  <div>
    <button class="u-has-margin-left-16 u-has-padding-8 u-has-margin-top-16 u-is-txt-15" type="submit">Add</button>
  </div>
</form>
