<div class="Board" cdkDropListGroup>
  @for (column of board()?.columns; track $index) {
    <cp-column [column]="column" (cardRequestMoveRight)="onRequestMoveRight($event)"
               (cardRequestMoveLeft)="onRequestMoveLeft($event)" (cardRequestDelete)="onDeleteTask($event)"></cp-column>
  }
</div>
<div>
  <button style="width: 100px; margin-top: 24px" (click)="onNewTask()">new</button>

  @if (isOpen) {
    <cp-add-task-form (addTaskRequest)="onAddTask($event)"></cp-add-task-form>
  }
</div>
