@let projects = projectsSignal();
@if (projects) {
  <label>Projects</label>
  <select [(ngModel)]="selectedProject" name="projects" id="projects" (change)="onProjectChange($event)">

    <option value="">Select option</option>
    @for (project of projects.data; track $index) {
      <option [value]="project.id" value="{{ project.id }}">{{ project.attributes.title }}</option>
    }
  </select>
} @else {
  <div class="loading">Loading...</div>
}

@let board = boardSignal();
@if (board) {
  <cp-board [board]="board" (shouldMove)="onMoveTicket($event)" (shouldAddTask)="onAddTicket($event)"
            (shouldDeleteTask)="onDeleteTicket($event)" (changeCard)="onCardChange($event)"></cp-board>
} @else {
  <div class="loading">Loading...</div>
}
